body{
    background-color: powderblue;
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}
form{
    text-align: left;
}
#textbox{
    background-color: rgb(46, 202, 223);
    position: relative;
    font-size: 25px;
    margin: auto;
    width: 75%;
}
#header{
    text-align: center;
    font-size: 5em;
}
