html {
    background-color: rgb(255, 153, 0);
    background-image: url(img/background1.jpg);
    padding: 10px;

  }
  
  .header {
    color: rgb(255, 0, 0);
    font-family: Monaco, monospace;
    text-align: center;
    border: 10px solid rgb(0, 0, 0);
    font-size: 50px;
    background-color: rgb(0, 0, 0);
  }
    .box {
    margin: auto;
    background-color: brown;

    font-size: 35px;
}
  body {
      text-align: center;
      border-color: 10px solid black;
  }
  form {
      text-align: left;
  }