header {
    background-color: #244432;
    color:white;
    top:0;
    height:20%;
    
}

body {
    background-color: #47975f
}
#gallery {
    display:flex;
    justify-content: center;
    background-color: #47975f;
    
}

#gallery #zoo {
    margin-top: 20px;
    margin-bottom: 20px;
    height:350px;
    width:300px;
}

#zoo img {
    width:100%;
    height:85%;
}

#zoo img:hover {
    opacity:0.75;
}
footer {
    background-color: #244432;
    position:fixed;
    width:100%;
    bottom:0;
    height:13%;
    font-style: italic;
    color:#a8adaa
}
